html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	font-family: 'Amiko', sans-serif;
}

body {
    line-height:1;
background-color:#1e1e1e;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
text-decoration:none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Start Site */
.body-bg {float:left;width:100%;z-index:1;top:0;position:fixed;width:100%;background-repeat:no-repeat;background-position:center;background-size:cover;background-attachment:fixed;}
section.content {margin-top:283px;}
.container {width:1208px;margin:0 auto;padding:0 20px;box-sizing:border-box;position:relative;z-index:2;}
.col {padding:10px;box-sizing:border-box;}
.col-4 {width:376px;}

header {width:100%;float:left;padding:100px 0 45px;margin-bottom:92px;transition:all 0.5s;position:fixed;top:0;z-index:10;background:rgba(0,0,0,0);}
header .container {border-bottom:10px solid #000;width:1168px;padding:0 0 20px;}
.logo {color:#fe5b31;font-weight:bold;font-size:30px;letter-spacing:-3px;}
.logo:hover {opacity:0.7}
.nav {list-style-type:none;float:right;margin-top:10px;}
.nav li {color:#847e76;float:left;margin-left:15px;}
.nav li a {color:#847e76}
.nav li a:hover {opacity:0.7}
.nav li.active a {font-weight:bold;color:#fe5b31;}
header.sticky {padding:10px 0;background:rgba(0,0,0,0.8);transition:all 0.5s;}
header.sticky .container {border:0;padding:0;}

.page-cap {float:left;width:100%;}
.page-cap h2 {color:#fff;font-weight:bold;font-size:40px;float:left;margin-bottom:48px;}
.page-cap .help-text {color:#686058;float:right;font-size:15px;padding-top:19px;}

.page-work-grid {display:flex;float:left;width:100%;flex-wrap:wrap;justify-content:space-between;}
.work-card {width:376px;margin-bottom:20px;position:relative;}
.work-card img {float:left;width:100%;height:auto;}
.work-card .card-text {background:#000;font-size:16px;color:#a19c97;position:absolute;bottom:0px;height:0;opacity:0;transition:all 0.25s;padding:10px;box-sizing:border-box;display:block;float:left;width:100%;}
.work-card:hover .card-text {opacity:1;height:85px;transition:all 0.25s;}
.work-card .card-text h3 {font-weight:bold;text-transform:uppercase;}

.page-cap-project {float:left;width:100%;}
.page-cap-project h2 {color:#a19c97;font-weight:bold;font-size:21px;float:left;}
.page-cap-project .help-text {color:#686058;float:left;width:100%;font-size:12px;line-height:14px;padding-top:19px;margin-bottom:48px;}
.page-cap-project .help-text span {color:#f35b31;}

.page-project {float:left;width:100%;}
.page-project .row {float:left;width:100%;margin-bottom:20px;}
.page-project .row.one-img img {float:left;width:100%;height:auto;}
.page-project .row.two-img img {float:left;width:50%;height:auto;}
.page-project .row.three-img img {float:left;width:33.33%;height:auto;}

.download {display:flex;flex-wrap:wrap;padding:63px 0 47px 40px;justify-content:space-between;align-items:center;color:#fe5b31;font-size:17px;font-weight:bold;}
.download a {color:#fe5b31;}
.download a:hover {opacity:0.7}
.accordion {float:right;width:calc(100% - 100px);border-top:1px solid #686058;}
.accordion-bar {overflow:hidden;padding:24px 0 24px 40px;border-bottom:1px solid #686058;background-image:url('../img/icon-up.svg');background-repeat:no-repeat;background-position:right 24px;background-size:20px;}
.accordion-bar:hover {cursor:pointer;}
.accordion-bar.open {background-image:url('../img/icon-down.svg')}
.accordion-bar h3 {font-size:17px;color:#a19c97;font-weight:bold;}
.accordion-panel {display:none;width:772px;float:right;font-size:15px;font-weight:bold;color:#a19c97;padding:0 20px 26px 0;box-sizing:border-box;}
.accordion-panel span {font-size:11px;font-weight:normal;color:#fe5b31;display:block;margin-top:5px;}
.accordion-panel p {font-size:11px;font-width:normal;color:#686058;line-height:13px;margin:5px 0 10px;}
.accordion-panel p:last-of-type {margin:5px 0 0;}
.copyright {font-size:8px;font-weight:bold;color:#686058;margin:10px 0 50px;}
.copyright span {font-weight:normal;}

@media screen and (max-width:1210px) {
	.container {width:100%;}
	header .container {margin:0 20px;width:calc(100% - 40px)}
	.page-work-grid .work-card {width:calc(33.33% - 10px);}
}

@media screen and (max-width:1120px) {
	.page-cap h2 {margin-bottom:20px;}
	.page-cap .help-text {width:100%;float:left;padding-top:0px;padding-bottom:20px;}
}

@media screen and (max-width:1100px) {
	.accordion-panel {width:70vw;margin:20px 0 0;}
}

@media screen and (max-width:600px) {
	.page-work-grid .work-card {width:100%;}
	.page-project .row {margin-bottom:0px;}
	.page-project .row img {margin-bottom:20px;}
	.page-project .row.two-img img,
	.page-project .row.three-img img {width:100%;}
	.accordion-panel {width:auto;}
}

@media screen and (max-width:500px) {
	header {padding:50px 0 45px;}
	section.content {margin-top:193px;}
	.download {display:flex;flex-wrap:wrap;padding:43px 0 27px 20px;}
	.accordion {width:100%;}
	.accordion-bar {padding:16px 0 16px 20px}
	.accordion-panel {width:100%;}
}